@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')

$dark-background: #222736
$light-color: #e9ecef

h1, h2, h3, h4, h5, p, a
  margin: 0

.app
  font-family: 'Montserrat', sans-serif
  text-align: center
  background: $dark-background
  color: $light-color
  height: 100vh

  .titleContainer
    padding: 50px 0
  .title
    color: $light-color
    font-size: 32px