@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')

$dark-background: #222736
$light-color: #e9ecef

h1, h2, h3, h4, h5, p, a
  margin: 0

// Remove arrow spinners from input
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

// Firefox
input[type=number]
  -moz-appearance: textfield

.hideScrollbar
  overflow: hidden

.app
  font-family: 'Montserrat', sans-serif
  text-align: center
  background: $dark-background
  color: $light-color
  min-height: 100vh
  padding: 0 30px

  .titleContainer
    padding: 50px 0
    .title
      color: $light-color
      font-size: 32px

  .container
    .left
      display: grid
      justify-content: center
      grid-template-columns: minmax(auto, 285px) minmax(auto, 285px)
      grid-template-columns: minmax(auto, 285px) minmax(auto, 285px)
      grid-auto-rows: 100px
      grid-gap: 10px

  .inputContainer
    grid-column: 1 / 3
    .title
      color: $light-color
      margin: 0 0 20px 0
    .input
      font-size: 26px
      color: #2CB7BC
      background: #2a3042
      border: none
      border-radius: 6px
      width: calc(100% - 20px)
      padding: 10px
      &:focus
        outline: none

  .boxContainer
    text-align: left
    background: #2a3042
    border-radius: 6px
    padding: 10px
    .text
      color: $light-color
      margin: 0 0 5px 0
    .number
      color: #2CB7BC
      font-size: 22px


  .governanceContainer
    display: flex
    align-items: center
    justify-content: space-around
    text-align: left
    background: #2a3042
    border-radius: 6px
    max-width: 600px
    padding: 20px 0
    margin: 0 auto
    margin-bottom: 40px
    .dataContainer
      font-size: 8px
      .title
        font-weight: 500
        margin-bottom: 12px

  .container
    padding-bottom: 50px

  .periodContainer
    background: #2a3042
    border-radius: 6px
    max-width: 500px
    padding: 30px 40px
    margin: 0 auto
    margin-top: 40px
    .upperPart
      text-align: left
      margin-bottom: 30px
      .period
        font-weight: 300
        margin-bottom: 30px
      .governancePeriod
        font-size: 30px
        font-weight: 500
        margin-bottom: 10px
      .changePeriodButton
        color: #2CB7BC
        font-size: 14px
        background: none
        border: none
        border-bottom: 2px solid #2CB7BC
        cursor: pointer
        padding: 0
        &:hover
          color: #2cb7bcc4
          border-bottom: 2px solid #2cb7bcc4

    .votingPeriod
      border-bottom: 1px solid #fff
      margin-bottom: 15px

    .dateContainer
      display: flex
      align-items: center
      justify-content: space-between
      text-align: left
      .text,
      .date
        font-size: 16px
        font-weight: 300
        margin-bottom: 15px

  .modal
    background: #222736
    display: none
    position: fixed
    top: 50%
    left: 50%
    width: 50%
    max-width: 50vh
    max-height: 50%
    transform: translate(-50%, -50%)
    border-radius: 6px
    padding: 20px 20px
    .top
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 40px
      .closeButton
        background: none
        color: #fff
        font-size: 30px
        border: none
        cursor: pointer
    .period
      background: none
      color: #fff
      display: flex
      align-items: center
      justify-content: space-between
      font-family: 'Montserrat', sans-serif
      font-size: 18px
      font-weight: bold
      border: none
      border-radius: 6px
      width: 100%
      padding: 30px 20px
      cursor: pointer
      .checkIcon
        font-size: 24px
    .active
      background: #2CB7BC
      border: none
  .showModal
    display: block

@media screen and ( min-width: 1024px  )
  .app
    .container
      display: flex
      align-items: center
      justify-content: space-between
      max-width: 978px
      padding-bottom: 0
      margin: 0 auto
      .left
        display: grid
        justify-content: center
        grid-template-columns: minmax(auto, 200px) minmax(auto, 200px)
        grid-auto-rows: 100px
        grid-gap: 10px
    